/****************/
/* font library cheeatsheet */
/****************/


Halyard Text Regular
font-family: "halyard-text", sans-serif;
font-weight: 400;
font-style: normal;
Halyard Text Italic
font-family: "halyard-text", sans-serif;
font-weight: 400;
font-style: italic;
Halyard Text Bold
font-family: "halyard-text", sans-serif;
font-weight: 700;
font-style: normal;
Halyard Text Bold Italic
font-family: "halyard-text", sans-serif;
font-weight: 700;
font-style: italic;
Halyard Micro Regular
font-family: "halyard-micro", sans-serif;
font-weight: 400;
font-style: normal;
Halyard Micro Italic
font-family: "halyard-micro", sans-serif;
font-weight: 400;
font-style: italic;
Halyard Micro Bold
font-family: "halyard-micro", sans-serif;
font-weight: 700;
font-style: normal;
Halyard Micro Bold Italic
font-family: "halyard-micro", sans-serif;
font-weight: 700;
font-style: italic;
Halyard Display Regular
font-family: "halyard-display", sans-serif;
font-weight: 400;
font-style: normal;
Halyard Display Italic
font-family: "halyard-display", sans-serif;
font-weight: 400;
font-style: italic;
Halyard Display Bold
font-family: "halyard-display", sans-serif;
font-weight: 700;
font-style: normal;
Halyard Display Bold Italic
font-family: "halyard-display", sans-serif;
font-weight: 700;
font-style: italic;

link naar yt video:
https://www.youtube.com/embed/aBKDuM3ygY0?feature=oembed&enablejsapi=1&origin=https%3A%2F%2F