@import url("https://use.typekit.net/vfw5ejh.css");


/**************/
/* CSS REMEDY */
/**************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* html { line-sizing: normal; }; */
body {
	overflow-x: hidden;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: rgb(0, 0, 0);
	--color-background: rgb(236, 235, 235);
	--brand-color: rgb(51, 18, 140);
	--color-secundair-background: rgb(255, 255, 255);
	--color-links:rgb(238, 122, 48);
	--color-niet:rgba(0, 0, 0, 0);
	--color-accent:rgb(92, 198, 141);
	--display-text: "halyard-display", sans-serif;
	--large-margin: 4em;
	--small-margin: 2em;
}



/****************/
/* JOUW STYLING */
/****************/

/* standaardstyling tekst */
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: var(--display-text);
	font-weight: 400;
	font-style: normal;
	/* blijkbaar ging hij met deze alles overscrijven */
	/* color: var(--color-text); */
}




/****************/
/* algemene styling */
/****************/
main {
	background-color: var(--color-background);
}

footer {
	background-color: var(--brand-color);
}

h1,
h2 {
	font-weight: 700;
}

h1{
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}

a{
	color: var(--color-text);
	padding: 1em;
	/* miss die pijltjes hier ook bijvoegen */
}

/* De code voor de pijltjes voot de links */
a.groen::before{
	content: url('/images/pijltje-wit.svg');
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}

a.oranje::before{
	content: url('/images/pijltje-orange.svg');
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}


.button{
	background-color: var(--color-links);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;

	text-transform: uppercase;
	color: var(--color-secundair-background);
	font-weight: 700;
	text-decoration: none;
}

p{
	/* de letters moeten wat verder uit elkaar */
	/* letter-spacing: 1px; */
	font-family: "halyard-text", sans-serif;
	font-weight: 100;
	font-style: normal;
}



/****************/
/* header styling */
/****************/

nav {
	width: 100vw;
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	/* width: 100%; */
	background-color: var(--color-secundair-background);
	/* padding-top: 0; */
	top: 0;
	padding: .5em 1em;
}

nav div {
	display: flex;
}

nav img {
	/* max-width: fit-content; */
	/* width: 100%; */
	height: 100%;
	/* margin-right: auto; */
	/* margin-top: 0; */
}

nav div button {
	background-color: var(--color-secundair-background);
	width: 3.5em;
	height: 3.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav div button img {
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	margin-top: 4em;
	width: 100vw;
	background-image: url('../images/main-page-pic.jpeg');
	object-fit: contain;
	/* background-position: center; */
	background-repeat: none;
	background-position: top;
	background-size: cover;
	/* height: 400px; */
	/* display: flex; */
	padding: 1em;
}

header h1, header p {
	color: var(--color-secundair-background);
}

header p{
	padding-top: 1em;
	padding-bottom: 1em;
}





/****************/
/* article styling */
/****************/

article {
	/* display:grid;
	grid-template-columns: 2fr repeat(3 1fr);
	grid-template-rows: 4fr repeat(4 1fr); */
	/* background-color:var(--color-secundair-background); */
	max-height: fit-content;
	margin-top: 2em;
	padding: 0 1em;
	/* background-image: -moz-linear-gradient(var(--color-background)00%, var(--color-background) 40%, var(--color-secundair-background)40%, var(--color-secundair-background) 100%); */
	/* background-image: -moz-linear-gradient(red, yellow); */
	background-image: linear-gradient(var(--color-niet) 30%, var(--color-secundair-background)30%);
	padding-bottom: 1em;
}

article img {
	width: 100%;
	height: 15em;
}

time {
	font-family: "halyard-micro", sans-serif;
	font-weight: 400;
	font-style: normal;
	grid-row: 1;
	font-size: 0.8em;
	margin: 0;
	/* ello? why no work */
	text-transform: uppercase;
}

h3 {
	font-weight: 700;
	font-size: 1.8em;
	margin: 0;
}

article a {
	font-weight: 700;
	color: var(--color-links);
	/* font-size: 1.2em; */
	margin: 0;
	font-family: "halyard-micro", sans-serif;
	text-transform: uppercase;
}

article div{
	padding: 1em 0;
}


/****************/
/* other article styling */
/****************/

.filled{
	background-color: var(--color-secundair-background);
	background-image: none;
	padding: 1em;
	margin: 1em;
}




/****************/
/* Frequently asked links */
/****************/

li {
	list-style-position: inside;
	padding: .5em;
	list-style: none;
}

section:nth-child(1) {
	background-color: var(--brand-color);
	color: var(--color-secundair-background);
	padding: 1em;
}

section:nth-child(1) a {
	color: var(--color-secundair-background);
	text-decoration: none;
}

/****************/
/* laatste nieuws */
/****************/
section:nth-child(2) {
	margin-top: 1em;
	margin-bottom: 1em;
	/* margin: 1em; */
}
section:nth-child(2) h2{
	/* margin-top: 1em;
	margin-bottom: 1em; */
	margin: 1em;
}


/****************/
/* rozen */
/****************/

section:nth-child(3){
	background-color: var(--color-secundair-background);
	background-image: none;
	margin-top:1em;
}

section:nth-child(3) p {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* voor dat boogding wat niet wilt werken */
section:nth-child(3) img:nth-child(1){
	background-color: var(--color-background);
	height: 6em;
	/* width:fit-content; */
	width: 100%;
	transform: scale(550%, 1);
}


/****************/
/* column */
/****************/
section:nth-child(4) div{
	padding: 1em;
	/* margin-top: 4em; */
}

section:nth-child(4) p {
	margin-top: 1em;
	margin-bottom: 1em;
}


/****************/
/* potweb */
/****************/

section:nth-child(5){
	background-color: var(--color-secundair-background);
	background-image: none;
	margin-top:1em;
	padding-left: 1em;
	padding-right: 1em;
}

section:nth-child(5) p {
	margin-top: 1em;
	margin-bottom: 1em;
}


iframe{
	width: 90vw;
	padding: 0;
	/* height: fit-content; */
	/* height: 4em; */
}


/****************/
/* beurzen en evenementen */
/****************/

section:nth-child(6){
	padding: 1em;
	margin-top: 4em;
}

section:nth-child(6) p{
	padding-top: 1em;
}

section:nth-child(6) h2{
	padding-bottom: .5em;
}

/* bron icons header, moet nog op goede plek */
/* <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a> */